@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');
@layer base { 
    body {
        @apply font-[Raleway];
        height: 100%;
        overflow: auto;
        -webkit-overflow-scrolling: touch
    }
    li {
        @apply px-4;
        @apply cursor-pointer
    }
}
.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}
.content-div:hover {
    background-image: linear-gradient(
        to right,
        rgba(112, 157, 255, 0.8),
        hsla(242, 74%, 61%, 0.8)   
    )!important;
}
.home_bg {
    background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    min-height: 100vh;
}
.home_bg_navbar {
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
}
.avatar_img {
    max-width: 300px;
    max-height: 300px;
}
.page {
    margin: 10px;
}
.skills-container {
    margin-top: 50px;
  }